@font-face {
    font-family: 'Alarm clockregular';
    src: url('../fonts/alarm_clock-webfont.eot');
    src: url('../fonts/alarm_clock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alarm_clock-webfont.woff2') format('woff2'),
         url('../fonts/alarm_clock-webfont.woff') format('woff'),
         url('../fonts/alarm_clock-webfont.ttf') format('truetype'),
         url('../fonts/alarm_clock-webfont.svg#alarm_clockregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

.watch{
	margin: 150px 0 0 150px;
	width: 1500px;
	height: 500px;
	padding-top: 140px;
	border-radius: 30px;
	text-align: center;
	box-sizing: border-box;
	background-color: black;
}

.buttonBlock{
	margin: 20px 0 0 150px;
	width: 1500px;
	height: 100px;
	box-sizing: border-box;
}

span{
	font-family: "Alarm clockregular";
	font-size: 200px;
	color: red;
}

button{
	height: 150px;
	width: 750px;
	display: inline-block;
	float: left;
	border-radius: 30px;
	background-color: black;
	color: #00ff00;
	font-family: "Alarm clockregular";
	font-size: 70px;
	outline: none;
}

#stop{
	display: none;
}

button:hover{
	text-shadow: 0px -5px 18px #d2ff4d;
}
